body {
  background-color: aliceblue;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 10px 20px 10px 20px;
}

.img-profpic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

}
h1 {
  color: black;
  font-size: 36px;
}

p, li {
  font-size: 20px;
}

a {
  color: black;
}

#header {
  border: 2px solid black;
  padding: 20px;
  font-size: 50px;
  font-weight: bold;
}

#navigation a {
  float: right;
  text-align: center;
  padding: 15px;
  font-size: 30px;
  text-decoration: none;
}

.content {
  padding: 15px 50px 15px 50px;
}

#bio {
  border-bottom: 1px solid black;
}
#header1 {
  color: black;
  font-size: 36px;
}


#mahjong {
  width: 500px;
}
