body{
  background-color: dimgray;
  font-family: 'Homemade Apple', cursive;
  font-family: 'Lobster', cursive;
  font-family: 'Shrikhand', cursive;
  font-family: 'Pacifico', cursive;
  font-family: 'Dancing Script', cursive;
  font-family: 'Cookie', cursive;
  font-family: 'Coming Soon', cursive;
  font-family: 'Petit Formal Script', cursive;
  font-family: 'League Script', cursive;
  font-family: 'Nunito', sans-serif;
  font-family: 'Caveat', cursive;
  font-family: 'Fredoka One', cursive;

}
#pittsburgh {
  position: relative;
  margin-left: 550px;
  top: -103px;
}
.location {
  width: 30px;
  height: 30px;
  position: relative; /* Declared position allows for location changes */
  top: -80px;
  margin-left: 500px;
}
#bio {
  margin-top: -80px;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 4px #ffffff, 0 0 55px #ffffff, 0 0 50px #ffffff;
  text-align: center;
  font-family: "League Script";
  font-size: 80px;
}
#biodescription{
  margin-top: -80px;
  color: white;
  text-align: center;
  font-family: "Caveat";
  font-size: 25px;
}
#mahjong {
  font-family: "Fredoka One";
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 4px #ffffff, 0 0 55px #ffffff, 0 0 50px #ffffff;
  font-size: 50px;
  margin-top: 40px;
  margin-left: -600px;
  color: green;
  text-align: center;
}
.profpic {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

#projects {
  font-family: "League Script";
  font-size: 80px;
  margin-top: 10px;
  margin-left: 0px;
  color: white;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 4px #ffffff, 0 0 55px #ffffff, 0 0 50px #ffffff;
  text-align: center;
}

.container {
  position: relative;
  width: 50%;
}
.girls {
  position: relative;
  width: 50%;
}
.family {
  position: relative;
  width: 50%;
}
.mahjongpic {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 790px;
  position: relative;
  bottom: 40px;
  float: right;
}
.popover {
    display: block;
    white-space: pre-line;
    color: "white";
    position: absolute;
    top: 950px;
    left: 600px;
}
#mail{
  position: absolute;
  top: 300px;
  left: 500px;
}
#linkedin{
  position: absolute;
  top: 299px;
  left: 615px;
}
#resume{
  position: absolute;
  top: 300px;
  left: 730px;
}
.imagedown {
  display: block;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin-right: 70px;
  float: right;

}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  margin-left: 49px;
  height: 100%;
  width: 72%;
  opacity: 0;
  transition: .2s ease;
  background-color:#808000;
  border-radius:50%;

}
.overlay1 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: 49px;
  height: 100%;
  width: 72%;
  opacity: 0;
  transition: .2s ease;
  background-color: #808000;
  border-radius:50%;
}
.overlay2 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 100%;
  width: 66%;
  opacity: 0;
  transition: .2s ease;
  background-color: #808000;
  border-radius:50%;
}
.container:hover .overlay {
  opacity: 1;
}

.girls:hover .overlay1{
  opacity: 1;
}

.family:hover .overlay2{
  opacity:1;
}
.text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.myrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}
